<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    forceCoversAnnotation="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true">

    <testsuites>
        <testsuite name="Fabiang_DoctrineDynamic">
            <directory>tests/src/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src/</directory>
        </include>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
        <ini name="log_errors" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <logging></logging>
</phpunit>
